body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: #283234;
}

header{
  display: flex;
  padding: 20px 150px;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-family: 'VT323', monospace;
  font-size: 40px;
  color: #283234;
}

.moto{
  font-size: 20px;
  font-weight: bold;
  color: #283234;
  letter-spacing: 3px;
}

/* Content */

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 150px;
  flex-grow: 1;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.title{
  color: #283234;
  font-weight: bold;
  font-size: 60px;
}

.left p{
  color: #A1A4A4;
  line-height: 23px;
}

.right{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards{
  display: flex;
  gap:20px;
  margin-bottom: 30px;
}

.card{
  font-size: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: #F6F1F1;
}

.choose{
  color: #283234;
  font-weight: bold;
}

footer{
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-size: 11px;
}
